/* Blog.css */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=IBM+Plex+Serif:wght@700&family=Instrument+Serif&family=Oswald:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab&family=Young+Serif&display=swap');

.blog-header {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', serif;
  color: rgb(174, 127, 27);
  text-shadow: 2px 2px 4px rgba(147, 87, 8, 0.9);

}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardu {
  border: 4px solid #e4cd9d ;
  /*Bordercolor*/border-radius: 12px;
  overflow: hidden;
  width: 25%; /* Set the width to 30% of the container */
  /* max-width: 350px; */
  margin: 20px;
  background-color: #f9f7f1ae;
  box-shadow: 0 0 10px rgba(77, 74, 74, 0.5);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.cardu:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow on hover */
}

.card-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.card-header {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card-content {
  text-align: center;
}

.card-button-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-button {
  padding: 10px;
  background-color: #a67700;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card-button:hover {
  background-color: #297fb8;
}
.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #966804; /* You can use your preferred color code */
  margin-bottom: 10px;
  text-align: center;
}