.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    /* background-color: rgba(0, 0, 0, 0.9);
     */
    background-color: #514f4f;

    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
    height: 50px;
}

.logo-links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70px;
    height: auto;
}

.navitems {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    list-style-type: none;
    font-size: 19px;
    padding-top: 30px;
}

.navitems li {
    margin-right: 15px;
}

.Navlinks {
    text-decoration: none;
    color: white;
}

.Navlinks svg {
    margin-right: 5px;
}

.active {
    font-weight: 700;
    background-color: #7e7e7e;
    /* font-size: 25px; */
    padding: 5px 8px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

.active a {
    color: white;
}

.active-icon {
    color: yellow;
}

.login-button {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(146, 89, 10);
    padding: 10px 25px;
    border-radius: 30px;
}

.login-button a {
    text-decoration: none;
    color: white;
}

h2 {
    text-decoration: none !important;
    color: #1e2340;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: auto;
        padding: 20px;
    }

    .logo-links {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo img {
        width: 50px;
        /* Adjust the logo size for mobile */
    }

    .navitems {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
    }

    .navitems li {
        margin-right: 0;
        /* Remove right margin for list items */
    }

    .login-button {
        margin-top: 20px;
    }
}

.hehehe {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 15px;
    left: 100px;
    width: 450px;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
}

.search-icon {
    margin-left: 10px;
    color: #eeeeee;
}

.chat-login-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end; /* Adjust alignment as needed */
    /* margin-top: 20px;  */
    position: relative;
    bottom: 25px;
    top: 0px;
    gap: 7px;
}

.login-button {
    font-size: 19px; /* Adjust font size as needed */
    padding: 8px 15px; /* Adjust padding as needed */
    margin-top: 10px; /* Adjust margin as needed */
}
